<footer>
	<section class="dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-4 col-lg-3">
					<p class="lead">Navigation</a>
					<ul class="list-unstyled">
						<li><a href="/">The Concept</a></li>
						<li><a href="/rooms">Browse Rooms</a></li>
						<li><a href="/room/create">Add My Room</a></li>
						<li><a href="/account">My Account</a></li>
						<li><a href="/privacy">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-sm-11 col-sm-offset-0 col-md-7 col-md-offset-0 col-md-push-6 col-lg-8 col-lg-offset-1 col-lg-push-5">
					<div card="newsletter"></div>
				</div>
				<div class="col-sm-8 col-md-7 col-md-push-6 col-lg-6 col-lg-offset-1 col-lg-push-5">
					<div card="feedback"></div>
				</div>
				<div class="col-sm-24 col-md-6 col-md-pull-14 col-lg-5 col-lg-pull-15">
					<p class="lead">Social Media</p>
					<p>
						<a href="https://www.facebook.com/roomies.fi/" target="_blank" data-external="true"><img src="/resources/icon-facebook.png" /></a>
						<a href="https://twitter.com/RoomiesFinland" target="_blank" data-external="true"><img src="/resources/icon-twitter.png" /></a>
					</p>
					<p class="social">
						<!-- <div class="fb-like" data-href="https://www.facebook.com/roomies.fi" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> -->
						<div class="fb-like" data-href="http://www.roomies.fi/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
						<a data-external="true" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" href="https://twitter.com/RoomiesFinland">Follow</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<img src="/resources/icon-map.png"  class="pull-left" />
		<p class="lead">We are in Finland</p>
		<ul class="list-inline">
			<li>Helsinki</li>
			<li>Espoo</li>
			<li>Jyväskylä</li>
			<li>Kuopio</li>
			<li>Lahti</li>
			<li>Lappeenranta</li>
			<li>Oulu</li>
			<li>Rovaniemi</li>
			<li>Tampere</li>
			<li>Turku</li>
			<li>Vantaa</li>
		</ul>
	</div>
</footer>