<form class="form-note">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Information visible only by you</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="note">Private note</label>
				<textarea class="form-control" rows="5" name="note" id="note" <%= status !== "pending" ? 'disabled' : '' %>><%= typeof note !== typeof undefined && note ? note : '' %></textarea>
			</div>
			<% if( status === "pending" ) { %>
				<div class="text-center">
					<input class="btn btn-default" type="submit" value="Save note" />	
				</div>
			<% } %>
		</div>
	</div>
</form>