@font-face {
	font-family: 'Avenir';
	src: url('../resources/fonts/avenir-book.eot');
	src: url('../resources/fonts/avenir-book.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/avenir-book.woff') format('woff'), url('../resources/fonts/avenir-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Heavy';
	src: url('../resources/fonts/avenir-heavy.eot');
	src: url('../resources/fonts/avenir-heavy.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/avenir-heavy.woff') format('woff'), url('../resources/fonts/avenir-heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}